.header {
    height: 500px;
    width: 100vw;
    background-image: url(assets/header.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: start;
}

.header_title {
    display: flex;
    flex-direction: column;
}

h3 {
    color: white;
}